nav{
  background-color: #E6E6E8;
}
#navToggler{
  margin-top: 10px;
  font-size: 1.5em;
}

@media screen and (max-width:544px) {
  #navItems{
    float:none;
    text-align: center;
  }
  #navItems > nav-item:first-of-type{
    clear:both;
  }
  .overlay{
    width:100% !important;
  }
  #home{
    width:100% !important;
  }
}

.pushRight{
  float:right;
}
.clear{
  clear:both;
}
.collapsing{
  clear:both;
}

#collapseNav #navItems{
  padding-top: 1.5em;
}

#home{
  width: 50%;
  top:10;
  height:100%;
  position: absolute;
  left:0;
  background: url('../media/placeholder.jpg') no-repeat;
  background-position: center top;
  background-size:cover;
  overflow: hidden;
}
.centered{
  position: absolute;
  top: 0;
  text-align: center;
}
.title{
  margin: auto;
  font-size: 4em;
  padding:.5em;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #E6E6E8;
}
#home > *{
  position: relative;
}
#mainContent{
  position: relative;
}
.overlay{
  position: absolute;
  padding: 1em 1.5em;
  color: white;
  height: 75%;
  top:50%;
  transform: translateY(-50%);
  width:45%;
  right:2.5%;
  overflow-y:scroll;
  background-color: rgba(0, 0, 0, 0.6);
}

.overlay > *{
  position: relative;
}
.niceList{
  width:100%;
  padding: 1em;
}
.niceList>li{
  width: inherit;
  text-decoration: none;
  list-style: none;
  border-bottom: 2px solid white;

}


.closeContainer{
  text-align: right;
  font-size: 1.5em;
  cursor: pointer;
}

.navbar-custom .navbar-nav > .nav-item > .nav-link,
.navbar-custom .navbar-nav > .nav-item > .nav-link:focus {
  color:rgba(0,0,0,.3);
}
.navbar-custom .navbar-nav > .nav-item > .nav-link:hover,
.navbar-custom .navbar-nav > .nav-item > .nav-link.active {
  color:rgba(0,0,0,.8);
}

.overlay.inactive{
  display: none;
}
