nav{
  background-color: #E6E6E8;
  position: absolute;
}

#navToggler{
  margin-top: 10px;
  font-size: 1.5em;
}

/*
  Extra small (mobile)
*/
@media screen and (max-width:544px) {
  #navToggler{
    display: inline;
  }
  #navItems{
    position: relative;
    top:0;
    float:none;
    clear:both;
    text-align: center;
  }
  #navItems >.nav-item{
    width:100%;
    clear:both;
  }
  #me{
    width:100%;
  }
  .carded{
    width:100%;
    margin-bottom: 1em;
    margin-right: 0;
  }
  .overlay{
    color: #E6E6E8;
    width:100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
@media screen and (min-width:545px){
  #navToggler{
    display: none;
  }
  #navItems{
    display: inline-block;
    top:0;
    transform: translateY(50%);
    height:100%;
    float:right;
    text-align: center;
  }
  #navItems >.nav-item{
    padding:0 .5em;
  }
  .overlay{
    color:#E6E6E8;
    width:50%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  #me{
    width:50%;
  }
}
.pushRight{
  float:right;
}
.clear{
  clear:both;
}

#navItems{

}

#me{
  top:10;
  height:100%;
  position: absolute;
  left:0;
  background: url('../media/placeholder.jpg') no-repeat;
  background-position: center top;
  background-size:cover;
  overflow: hidden;
}
.centered{
  position: absolute;
  top: 0;
  text-align: center;
}
.title{
  margin: auto;
  font-size: 4em;
  padding:.5em;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #E6E6E8;
}
#me > *{
  position: relative;
}
#mainContent{
  position: relative;
}
.overlay{
  position: absolute;
  padding: 1em 1.5em;
  height: 100%;
  top:0;
  right:0;
  overflow-y:auto;
}

.overlay > *{
  position: relative;
}
.niceList{
  width:100%;
  padding: 1em;
}
.niceList.links{
  padding: 0em;
}
.niceList.links>li{
  display: inline-block;
  padding:0 .5em;
  border-right: 2px solid rgba(0, 0, 0, .1);
}
.niceList.links>li:last-child{
  display: inline-block;
  border-right: none;
  padding-left:.4em;
}
.niceList>li{
  text-decoration: none;
  list-style: none;
}
.expandable{
  width: inherit;
  border-bottom: 2px solid #E6E6E8;
}
.expandable>h2{
  cursor: pointer;
}
.expandable h3{
  font-style: italic;
  padding: 0 .5em;
}
.expandable ul{
  margin-left: 1.5em;
  margin-top: -1em;
}
.expandable p{
  padding: 0 1.5em;
}

.carded{
  box-sizing: border-box;
  margin-bottom: 2em;
  display: inline-block;
  background-color:rgba(0, 0, 0, 0.4);

  min-height: 400px;
}
.carded>div{
  padding: 0em 1em 1em 1em;
  float: left;
  width:100%;
}
.carded>div:first-child{
  overflow: hidden;
  height:250px;
  padding: 0;

}
.carded>div:last-child{
  min-height:150px;
  clear: right;
}
.carded p{
  padding-left: .5em;
}
.carded>div>.more ~ p{
    display: none;
}
.carded .links{
  margin-top:-.5em;
}
.closeContainer{
  text-align: right;
  font-size: 1.5em;
  cursor: pointer;
}

#navItems>.nav-item{
  margin: 0;
}

.navbar-custom .navbar-nav > .nav-item > .nav-link,
.navbar-custom .navbar-nav > .nav-item > .nav-link:focus {
  color:rgba(0,0,0,.3);
}
.navbar-custom .navbar-nav > .nav-item > .nav-link:hover,
.navbar-custom .navbar-nav > .nav-item > .nav-link.active {
  color:rgba(0,0,0,.8);
}

.overlay.inactive{
  display: none;
}

/*
  IMAGES FOR PROJECTS
*/
#fourierart{
  background: url('../media/fourier-art.png') center;
  background-size: cover;
}
#shapeofhistory{
  background: url('../media/shape-of-history.PNG') center;
  background-size: cover;
}
